body{
    align-items: center;
}
.card {
  border: 1px solid #ccc;
  padding: 5px;
  width: 300px;
  margin: 10px;
  border-radius: 8px;
  background-color: #f9f9f9;
  color: black;
  margin-left: 550px;
  height: 170px;
  padding-bottom: 15px;
}
h1{
    text-align: center;
    margin-left: 500px;
}
